<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="XMLJDBCConnection" class="com.jdbc.xml.XMLJDBCConnection">
    <!-- collaborators and configuration for this bean go here -->
  </bean>

 <bean id="XMLPersonDAO" class="com.jdbc.xml.XMLPersonDAO">
    <property name="jdbcConnection" ref="XMLJDBCConnection"/>
  </bean>

  <!-- more bean definitions go here -->

</beans>